@page
@model LetterBoxDClone.Pages.UserModel

@{ 
	
	ViewData["Title"] = Model.User.Username;

	@functions{

		public void OnPostUpdateRating(int movieId, double rating)
		{
			Model.SetRatingByKey(Model.UserId, movieId, rating);
		}
	}
}

<body>

	<div class="text-left">
		<h1 class="fw-bolder mb-1">@Model.User.Username</h1>
	</div>
	<div class="card mb-4">
		<div class="card-header">Movies You've Seen</div>
		<div class="card-body">
			<div class="row">
				<div class="col-sm-12">
					<table class="table">
						<thead>
							<tr>
								<th>
									Title
								</th>
								<th>
									Release Year
								</th>
								<th>
									Your Rating
								</th>
							</tr>
						</thead>
						<tbody>

							@foreach (var movieSeen in Model.moviesSeen)
							{
							<tr id="@movieSeen.movie.MovieId">
								<td>
									<a href="/Movies/Detail?movieId=@movieSeen.movie.MovieId">@movieSeen.movie.Title</a>
								</td>
								<td>
									@movieSeen.movie.Year
								</td>
								<td>
									<form action="updaterating" method="post">
										<input type="number" name="rating" value="@movieSeen.rating.Rating"/>
										<input type="hidden" name="movieId" value="@movieSeen.movie.MovieId"/>
										<button class="btn btn-primary">Update Rating</button>
									</form>
								</td>
							</tr>
							}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div class="card mb-4">
		<div class="card-header">Movies You Might Like</div>
		<div class="card-body">
			<div class="row">
				<div class="col-sm-12">
					<table class="table">
						<thead>
							<tr>
								<th>
									Title
								</th>
								<th>
									Release Year
								</th>
								<th>
									Directed By
								</th>
							</tr>
						</thead>
						<tbody>
							@foreach (var movieMightLike in Model.moviesMightLike)
							{
								<tr>
									<td>
										<a href="/Movies/Detail?movieId=@movieMightLike.movie.MovieId">@movieMightLike.movie.Title</a>
									</td>
									<td>
										@movieMightLike.movie.Year
									</td>
									<td>
										<a href="/CastCrewPage/Details/@movieMightLike.director.CastCrewId">@movieMightLike.director.Name</a>
									</td>
								</tr>
							}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</body>