@page
@model LetterBoxDClone.Pages.UserModel

@{

    ViewData["Title"] = Model.User.Username;
}

<div class="text-left">
    <h1 class="fw-bolder mb-1">@Model.User.Username</h1>
</div>
<div class="card mb-4">
    <div class="card-header">Movies You've Seen</div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Title
                            </th>
                            <th>
                                Release Year
                            </th>
                            <th>
                                Your Rating
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var movieSeen in Model.moviesSeen)
                        {
                            <tr>
                                <td>
                                    <a href="/Movies/Detail?movieId=@movieSeen.movie.MovieId">@movieSeen.movie.Title</a>
                                </td>
                                <td>
                                    @movieSeen.movie.Year
                                </td>
                                <td contenteditable="true" type="number" title="Change your rating for @movieSeen.movie.Title">
                                    @movieSeen.rating.Rating
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>
<div class="card mb-4">
    <div class="card-header">Movies You Might Like</div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Title
                            </th>
                            <th>
                                Release Year
                            </th>
                            <th>
                                Directed By
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var movieMightLike in Model.moviesMightLike)
			            {
                            <tr>
                                <td>
                                    <a href="/Movies/Detail?movieId=@movieMightLike.movie.MovieId">@movieMightLike.movie.Title</a>
                                </td>
                                <td>
                                    @movieMightLike.movie.Year
                                </td>
                                <td>
                                    <a href="/CastCrewPage/Detail?CastCrewId=@movieMightLike.director.CastCrewId">@movieMightLike.director.Name</a>
                                </td>
                            </tr>
            			}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>