@page
@model LetterBoxDClone.Pages.SimpleSearch.SimpleSearchModel

@{
    ViewData["Title"] = "Basic Search";
}

<h1>Basic Search</h1>

<div class="container">
    <div class="row">
        <div class="col-lg-9">
            <form asp-page="./SimpleSearch" method="get">
                <div class="form-actions no-color">
                    <p>
                        <input type="text" name="SearchString" value="@Model.CurrentFilter" />
                        <input type="submit" value="Search" class="btn btn-primary" />
                        <a asp-page="./SimpleSearch">Back to full list</a>
                    </p>
                </div>
            </form>

            <table class="table table-sm mb-0">
                <thead>
                    <tr>
                        <th>
                            Movies
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Movie)
                    {
                        <tr>
                            <td>
                                <a asp-page="/Movies/Details" asp-route-movieId="@item.MovieId">@item.Title</a> (@item.Year)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            @{
                var moviePrevDisabled = !Model.Movie.HasPreviousPage ? "disabled" : "";
                var movieNextDisabled = !Model.Movie.HasNextPage ? "disabled" : "";
            }
            <div class="btn-group btn-group-sm">
                <a asp-page="./SimpleSearch"
                   asp-route-castCrewPageIndex="@(Model.CastCrew.PageIndex)"
                   asp-route-moviePageIndex="@(Model.Movie.PageIndex - 1)"
                   asp-route-userPageIndex="@(Model.UserList.PageIndex)"
                   asp-route-currentFilter="@Model.CurrentFilter"
                   class="btn btn-secondary @moviePrevDisabled">
                    <<
                </a>
                <a asp-page="./SimpleSearch"
                   asp-route-castCrewPageIndex="@(Model.CastCrew.PageIndex)"
                   asp-route-moviePageIndex="@(Model.Movie.PageIndex + 1)"
                   asp-route-userPageIndex="@(Model.UserList.PageIndex)"
                   asp-route-currentFilter="@Model.CurrentFilter"
                   class="btn btn-secondary @movieNextDisabled">
                    >>
                </a>
            </div>
            <table class="table table-sm mb-0 mt-1">
                <thead>
                    <tr>
                        <th>
                            Cast and Crew Members
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.CastCrew)
                    {
                        <tr>
                            <td>
                                <a asp-page="/CastCrewPage/Details" asp-route-id="@item.CastCrewId">@item.Name</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            @{
                var castCrewPrevDisabled = !Model.CastCrew.HasPreviousPage ? "disabled" : "";
                var castCrewNextDisabled = !Model.CastCrew.HasNextPage ? "disabled" : "";
            }
            <div class="btn-group btn-group-sm">
                <a asp-page="./SimpleSearch"
                   asp-route-castCrewPageIndex="@(Model.CastCrew.PageIndex - 1)"
                   asp-route-moviePageIndex="@(Model.Movie.PageIndex)"
                   asp-route-userPageIndex="@(Model.UserList.PageIndex)"
                   asp-route-currentFilter="@Model.CurrentFilter"
                   class="btn btn-secondary @castCrewPrevDisabled">
                    <<
                </a>
                <a asp-page="./SimpleSearch"
                   asp-route-castCrewPageIndex="@(Model.CastCrew.PageIndex + 1)"
                   asp-route-moviePageIndex="@(Model.Movie.PageIndex)"
                   asp-route-userPageIndex="@(Model.UserList.PageIndex)"
                   asp-route-currentFilter="@Model.CurrentFilter"
                   class="btn btn-secondary @castCrewNextDisabled">
                    >>
                </a>
            </div>
            <table class="table table-sm mb-0 mt-1">
                <thead>
                    <tr>
                        <th>
                            Users
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.UserList)
                    {
                        <tr>
                            <td>
                                <a asp-page="/Users/Details" asp-route-id="@item.UserId">@item.Username</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            @{
                var userPrevDisabled = !Model.UserList.HasPreviousPage ? "disabled" : "";
                var userNextDisabled = !Model.UserList.HasNextPage ? "disabled" : "";
            }
            <div class="btn-group btn-group-sm">
                <a asp-page="./SimpleSearch"
                   asp-route-castCrewPageIndex="@(Model.CastCrew.PageIndex)"
                   asp-route-moviePageIndex="@(Model.Movie.PageIndex)"
                   asp-route-userPageIndex="@(Model.UserList.PageIndex - 1)"
                   asp-route-currentFilter="@Model.CurrentFilter"
                   class="btn btn-secondary @userPrevDisabled">
                    <<
                </a>
                <a asp-page="./SimpleSearch"
                   asp-route-castCrewPageIndex="@(Model.CastCrew.PageIndex)"
                   asp-route-moviePageIndex="@(Model.Movie.PageIndex)"
                   asp-route-userPageIndex="@(Model.UserList.PageIndex + 1)"
                   asp-route-currentFilter="@Model.CurrentFilter"
                   class="btn btn-secondary @userNextDisabled">
                    >>
                </a>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <a asp-page="/Search/AdvancedSearch">Advanced Movie Search</a>
                </div>
            </div>
        </div>
    </div>
</div>