@page
@model LetterBoxDClone.Pages.MoviesModel

@{
    ViewData["Title"] = "Test Movie";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet" />
</head>

<body>
    <!-- Page content-->
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-8">
                <!-- Post content-->
                <article>
                    <!-- Post header-->
                    <header class="mb-4">
                        <!-- Post title-->
                        <h1 class="fw-bolder mb-1">@Model.Movie.Title</h1>
                        <!-- Post meta content-->
                        <div class="text-muted fst-italic mb-2">@Model.Movie.Year by Steve McQueen (hardcoded for now)</div>
                        <!-- Post categories-->
                        <a class="badge bg-secondary text-decoration-none link-light" href="#!">popular tag1</a>
                        <a class="badge bg-secondary text-decoration-none link-light" href="#!">populat tag2</a>
                    </header>

                    <div class="card mb-4">
                        <div class="card-header">Cast and Crew</div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-12">
                                    <ul class="list-group list-group-flush mb-0">
                                        @foreach (var crew in Model.castAndCrew)
                                        {
                                            <li class="list-group-item"><a href="#!">@crew</a></li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </article>
                <!-- Comments section-->
            </div>
            <!-- Side widgets-->
            <div class="col-lg-4">

                <!-- Search widget-->
                <!--
    <div class="card mb-4">
      <div class="card-header">Search</div>
      <div class="card-body">
        <div class="input-group">
          <input class="form-control" type="text" placeholder="Enter search term..."
            aria-label="Enter search term..." aria-describedby="button-search" />
          <button class="btn btn-primary" id="button-search" type="button">Go!</button>
        </div>
      </div>
    </div>
    -->

                <div class="card mb-4">
                    <div class="card-header">Relevant Links</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12"><a href="@(String.Format("https://www.imdb.com/title/tt{0}", Model.Movie.ImdbId))">See on IMDB</a></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12"><a href="@(String.Format("https://www.rottentomatoes.com/m/{0}", Model.Movie.RtId))">See on Rotten Tomatoes</a></div>
                        </div>
                    </div>
                </div>

                <div class="card mb-4">
                    <div class="card-header">Ratings</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12">Average rating of X based on Y ratings</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">Your rating: 9</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">Change your rating to: 8</div>
                        </div>
                    </div>
                </div>

                <div class="card mb-4">
                    <div class="card-header">Metadata</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12">Produced in Canada</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                Filmed at:
                                <ul class="list-group list-group-flush mb-0">
                                    <li class="list-group-item"><a href="#!">Location1</a></li>
                                    <li class="list-group-item"><a href="#!">Location2</a></li>
                                    <li class="list-group-item"><a href="#!">Location3</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    </div>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
</body>

</html>