@page "{id?}"
@using Microsoft.CodeAnalysis.CSharp.Syntax
@model LetterBoxDClone.Pages.CastCrewPage.DetailsModel

@{
    ViewData["Title"] = "Details";
}

@*<h1>Details</h1>*@
<h1>@Model.CastCrew.Name</h1>

@*<div>
        <h4>CastCrew</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CastCrew.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CastCrew.Name)
            </dd>
        </dl>
    </div>*@

 @*https://docs.microsoft.com/en-us/aspnet/core/data/ef-rp/read-related-data?view=aspnetcore-5.0&tabs=visual-studio#update-the-instructors-index-page*@
@if (Model.CastCrew.ActingRoles != null)
{
    <h3>Actor</h3>
    <table class="table">
        <thead>
        <tr>
            <th>
                Movie
            </th>
            <th>
                Billing
            </th>
        </tr>
        </thead>
        @foreach (var role in Model.CastCrew.ActingRoles)
        {
    <tr class="table">
        <td>
            @role.Movie.Title
        </td>
        <td>
            @role.Billing
        </td>
    </tr>
        }
    </table>
}
else if (Model.CastCrew.DirectingCredits != null){
    <h3>Director</h3>
    <table class="table">
        <thead>
        <tr>
            <th>
                Movie
            </th>
        </tr>
        </thead>
        @foreach (var role in Model.CastCrew.DirectingCredits)
        {
            <tr class="table">
                <td>
                    @role.Movie.Title
                </td>
            </tr>
        }
    </table>
}
else
{
    <p>This person has no known roles!</p>
}
<div>
    <a asp-page="./Edit" asp-route-id="@Model.CastCrew.CastCrewId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
