@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Track what films you've watched. Save films you want to see. Get recommendations for new films to watch.</p>
        <div class="row">
            <form asp-page="/SimpleSearch/SimpleSearch" asp-route-currentFilter="SearchString" method="get" class="form-inline col-lg my-2 my-lg-0">
                <input class="form-control col-lg-10 mr-sm-1" type="search" placeholder="Search by movie title, name, user..."
                       aria-label="Search by movie title, name, user..." aria-describedby="button-search" name="SearchString" value="" />
                <input class="btn btn-primary col" type="submit" asp-page="/SimpleSearch/SimpleSearch" asp-route-currentFilter="SearchString" value="Search" />
            </form>
        </div>
    </div>
</div>

<br /><br />

<div container>
    <div class="row">

        <div class="col-lg-4">
            <div class="card mb-4">
                <div class="card-header">Top 10 Most Seen Movies</div>
                <div class="card-body">
                    <div class="row">
                        <ol class="list-group-flush list-group-numbered mb">
                            @foreach (var movie in Model.MostSeen)
                            {
                                <li class="list-group-item">
                                    <a href="~/Movies/Details?movieID=@movie.MovieId">@movie.Title (@movie.Year)</a>
                                </li>
                            }
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card mb-4">
                <div class="card-header">Top 10 Highest Rated Movies</div>
                <div class="card-body">
                    <div class="row">
                        <ol class="list-group-flush list-group-numbered mb">
                            @foreach (var movie in Model.HighestRated)
                            {
                                <li class="list-group-item">
                                    <a href="~/Movies/Details?movieID=@movie.MovieId">@movie.Title (@movie.Year)</a>
                                </li>
                            }
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card mb-4">
                <div class="card-header">Top 10 Actors With Highest Rated Movies</div>
                <div class="card-body">
                    <div class="row">
                        <ol class="list-group-flush list-group-numbered mb">
                            @foreach (var user in Model.ActorsWithHighestRatedMovies)
                            {
                                <li class="list-group-item">
                                    <a asp-page="/CastCrewPage/Details" asp-route-id="@user.CastCrewId">@user.Name</a>
                                </li>
                            }
                        </ol>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>