@page
@model LetterBoxDClone.Pages.Movies.IndexModel

@{
    ViewData["Title"] = "Movie Index";
}


<h1>@ViewData["Title"]</h1>


@*<p>
    <a asp-page="Create">Create New</a>
</p>*@

<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name:
            <input type="text" name="SearchString" value="@Model.CurrentFilter" />
            <input type="submit" value="Search" class="btn btn-primary" />
            <a asp-page="./Index">Back to full list</a>
        </p>
    </div>
</form>


<table class="table">
    <thead>
        <tr>
            <th
                <a asp-page="./Index" asp-route-sortOrder="@Model.NameSort">
                    @Html.DisplayNameFor(model => model.Movie[0].Title)
                </a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Movie)
        {
            <tr>
                <td>
                    <a asp-page="/Movies/Details" asp-route-movieId="@item.MovieId">@item.Title</a> (@item.Year)
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.Movie.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Movie.HasNextPage ? "disabled" : "";
}

<a asp-page="./Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.Movie.PageIndex - 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-secondary @prevDisabled">
    <<
</a>
<a asp-page="./Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.Movie.PageIndex + 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-secondary @nextDisabled">
    >>
</a>